<div class="card mb-0" style="background: #304864 !important; border: 1px solid #304864; color: floralwhite;">
    <div class="card-body pt-4 pl-4 pb-0">
        <div class="form-horizontal">
            <div class="form-row">
                <div class="col-md-2">
                    <span style="font-size: larger;font-weight: 500;">ID: </span><span id="appNoDetails" style="font-size: larger;font-weight: 600;"></span>
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <span style="font-size: larger;font-weight: 500;">STATUS: </span><span style="font-size: larger;font-weight: 600;">PENDING APPROVAL</span>
                </div>
                <div class="col-md-2">
                    <button id="reviseApp" style="float: right; margin-left: 2px;" class="btn btn-success"> Action</button>
                </div>
            </div>
        </div>
    </div>
</div>