<div id="approveDecline" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">ID: <span id="modalId"></span></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="appStatus" class="col-form-label">
                                            <b>Action - Select New Status</b>
                                        </label>
                                        <select type="text" id="appStatus" class="form-control" required>
                                            <option style="display: block" id="0" value="">Select Status</option>
                                            <option style="display: block" id="approveTcc" value="2">Recommend for Approval</option>
                                            <option style="display: block" id="declineTcc" value="3">Decline</option>
                                            <option style="display: block" id="returnTcc" value="1">Return</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="internalMessage" class="col-form-label">
                                            <b>Internal Message</b> (Required)
                                        </label>
                                        <textarea class="form-control" rows="2" id="internalMessage"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="taxpayerMessage" class=" col-form-label">
                                            <b>Message to Taxpayer</b>
                                        </label>
                                        <textarea class="form-control" rows="2" id="taxpayerMessage" style="resize: none;" value=""></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="approveDeclineReturnBtn" class="btn btn-primary" disabled>Save</button>
            </div>
        </div>
    </div>
</div>

<div id="approveModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">Choose Expiry Date</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-8 formDiv">
                                        <label for="internalMessage" class="col-form-label">
                                            Expires On <span style="color: red !important">*</span>
                                        </label>
                                        <input id="expiryDateTcc" type="text" class="form-control" placeholder="Expiry" data-toggle="flatpickr" value="today">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="continueApproval" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>

<div id="tccMessagesView" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">All Messages</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tabsContainer" class="tab" style="width: 100% !important; display: block;">
                    <button class="tablinks active" onclick="openDivForTab(event, 'taxpayer')"> APPLICANT</button>
                    <button class="tablinks" onclick="openDivForTab(event, 'internal')"> INTERNAL</button>
                    <button class="tablinks" onclick="openDivForTab(event, 'attachmentColumn')" style="border-right: none;"> FILES</button>
                </div>

                <div id="taxpayer" class="form-horizontal tabcontent">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="taxpayerMessageScroll" style="overflow-y: scroll;height: 330px;border-bottom: 1px solid silver;border-left: 1px solid silver;">
                                <div class="taxpayerMessageScroll">
                                    <div style="margin-top: 10px;" id="chatUI">

                                    </div>
                                </div>
                            </div>

                            <form>
                                <label for="commentToTaxpayer" class="control-label" style="font-weight: 600; padding: 2px;">Message To Applicant</label>
                                <textarea type="text" style="resize:none;height: 70px;" autocomplete="off" class="form-control form-cascade-control input-sm" id="commentToTaxpayer" placeholder="Type message to applicant here"></textarea>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="internal" class="form-horizontal tabcontent" style="display: none">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="internalMessageScroll" style="overflow-y: scroll;height: 330px;border-bottom: 1px solid silver;border-left: 1px solid silver;">
                                <div class="internalMessageScroll">
                                    <div style="margin-top: 10px;" id="internalChatUI">

                                    </div>
                                </div>
                            </div>

                            <form>
                                <label for="commentToStaff" class="control-label" style="font-weight: 600; padding: 2px;">Message To Staffs</label>
                                <textarea type="text" style="resize:none;height: 70px;" autocomplete="off" class="form-control form-cascade-control input-sm" id="commentToStaff" placeholder="Type internal messages here"></textarea>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="attachmentColumn" class="form-horizontal tabcontent" style="display: none;">
                    <div style="margin-top: 5px;">
                        <div class="row">
                            <div class="container" style="height: 420px;">
                                <table class="table table-striped">
                                    <colgroup><col style="width: 5%;"><col style="width: 65%;"><col style="width: 30%;"></colgroup>
                                    <thead>
                                        <tr class="" style=" background-color: #364c66 !important;">
                                            <td scope="col" style="color: white;">#</td>
                                            <td scope="col" style="color: white;">File Name</td>
                                            <td scope="col" style="color: white;">Date</td>
                                        </tr>
                                    </thead>
                                    <tbody id="DocumentTableId"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="sendInternal" class="btn btn-success" style="display: none">Send Message</button>
                <button type="button" id="sendMesageTaxpayer" class="btn btn-success">Send Message</button>
            </div>
        </div>
    </div>
</div>

<div id="yesOrNo" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">Are you sure?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div><p>Are you sure you want to <b>APPROVE</b> this Application?</p></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="noYesBtn">No</button>
                <button type="button" id="yesBtn" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>