<div id="returnDetail">
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tccDetails" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="form-horizontal">
                    <div class="form-row">

                        <div class="col-md-6" id="returnDetailsGrid1">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Entity Details</b></p>
                                <div class="table-responsive border-bottom">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Company Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="taxpayerName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="taxpayerTin"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Business Location</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="businessLoc"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Assessment Year</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="assessmentYear"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Start Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="fromPeriod"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">End Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="toPeriod"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Date Submitted</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="createDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">NILL</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="nil"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TRIPS Document No.</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="tripsDocumentNo"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid2">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Balance Sheet</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 370px;">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Balance Sheet Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="balanceSheetDate"></span></b>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100;text-align: center; font-weight: bold; background: #f7f8f9;">Assets</td>
                                            </tr>
                                           
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Cash Assets (Return Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="cashAssestsReturnCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Cash Assets (Other Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="cashAssetsOtherCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other Current Assets</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="bsOtherCurrentAssets"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Stocks/Inventories</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="bsStocks"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Account Receivables</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="accountReceivables"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Current Assets</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalCurrentAssets"></span></b>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Non Current/Fixed Assets</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="fixedCurrent"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other Assets</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="otherAssets"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Assets</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalAssets"></span></b>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid3"  style="display: none">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Balance Sheeet</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 370px;">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100;text-align: center; font-weight: bold; background: #f7f8f9;">Trade Payables</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Trade Payables (Return Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="tradePayablesReturnCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Trade Payables (Other Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="tradePayablesOtherCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Trade Payable</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalTradePayables"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other Payables (Return Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="otherPayablesReturnCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other Payable (Other Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="otherPayablesOtherCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Other Payables</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalOtherPayables"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Payables</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalPayables"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Shareholder's Fund</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="shareholdersFund"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Payables & Shareholder's Fund</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalPayablesAndFund"></span></b>
                                                </td>
                                            </tr>
                                         </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid4"  style="display: none">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Balance Sheeet</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 370px;">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100;text-align: center; font-weight: bold; background: #f7f8f9;">Business Income</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Local Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="localIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Export Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="exportIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Business Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalBusIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Investment Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="investmentIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="otherIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Company Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalCompanyIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Operating Expenses (Return Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="opExpenReturnCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Operating Expenses (Foreign Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="opExpensesForeignCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Operating Expenses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalOperatingCost"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Director's Renumeration</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="directorsRenum"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Staff/Labour Costs</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="labourCosts"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Interest Expenses (Return Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="interestExpensesReturnCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Interest Expenses (Foreign Currency)</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="interestExpForeignCurr"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Interest Expenses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalInteretsExpenses"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total General & Admin Expenses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalGeneralAdminExpenses"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Depreciation</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="depreciation"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Foreign Exchange Losses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="foreignExchangeLosses"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other General & Admin. Expenses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalPayablesAndFund"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Expenses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalExpenses"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Net Company Profit/Loss</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="netCompanyProfitOrLoss"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid5"  style="display: none">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Tax Computation</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 370px;">
                                    <table class="table table-bordered">
                                           <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100;text-align: center; font-weight: bold; background: #f7f8f9;"> Addbacks & Deductions</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Net Company Profit/Loss</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="netCompanyProfitOrLoss"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Non-allowable Deductions</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="nonallowableDeductions"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Adjusted Net Profit/Loss</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="adjustedNetProfitLoss"></span></b>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Non-Taxable Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="nonTaxableIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Adjusted Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="adjustedIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Capital Allowance</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="capitalAllowance"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Carry Forward Losses</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="carryForwardLosses"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Other Allowable Deduction</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="otherAllowableDeduction"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Allowable Deduction</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalAllowableDeduction"></span></b>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid6"  style="display: none">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Tax Computation</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 370px;">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100;text-align: center; font-weight: bold; background: #f7f8f9;"> Chargeable Income</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Chargeable Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalChargeableIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Chargeable Income Taxed At Different Rate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="chargeableIncomeTaxDiffRate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Chargeable Income Tax At Normal Rate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="chargeableIncomeTaxNormalRate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Tax Code</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxCode"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Tax Rate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxRate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Tax Liability</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxLiability"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Tax Rebate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxRebateCode"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Rate of Tax Rebate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="rateofTaxRebate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Amount of Tax Rebate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="amountTaxRebate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Tax Payable</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxPayable"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid7"  style="display: none">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b> Tax Computation</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 370px;">
                                    <table class="table table-bordered">
                                           <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100;text-align: center; font-weight: bold; background: #f7f8f9;"> Chargeable Income Taxed At Different Rates</td>
                                            </tr>
                                            @* <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">citaxedDiffRateA</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="citaxedDiffRateA"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxCodeA</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxCodeA"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxRateA</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxRateA"></span></b>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxPayableA</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxPayableA"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">citaxedDiffRateB</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="citaxedDiffRateB"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxCodeB</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxCodeB"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxRateB</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxRateB"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxPayableB</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxPayableB"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">citaxedDiffRateC</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="citaxedDiffRateC"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxCodeC</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxCodeC"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxRateC</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxRateC"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">taxPayableC</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxPayableC"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">totalTaxPayableOnCidiffRate</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalTaxPayableOnCidiffRate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">totalTaxPayable</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalTaxPayable"></span></b>
                                                </td>
                                            </tr> *@
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Withholding Tax Credits</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="withholdingTaxCredits"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Taxes Paid Directly</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="taxesPaidDirectly"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Prior Period Credits</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="priorPeriodCredits"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Direct Payment & Tax Credits</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalDirectPayCredits"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Income Tax Outstanding/Overpayment</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="incomeTaxOutstandingOverpayment"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Statutory Levies</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="statutoryLevies"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="returnDetailsGrid8" style="display: none">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>List Of Directors</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll; overflow-x: hidden;height: 380px; margin: 10px 0px">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="table-info">
                                                <th scope="col" style="color: black; position: sticky; top: 0; font-size: 14px;">Director's Name</th>
                                                <th scope="col" style="color: black; position: sticky; top: 0; font-size: 14px;">TIN </th>
                                                <th scope="col" style="color: black; position: sticky; top: 0; font-size: 14px;">Salary</th>
                                                <th scope="col" style="color: black; position: sticky; top: 0; font-size: 14px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listOfDirectors"></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                    <button id="backToGrid" class="btn btn-outline-primary"> Back</button>
                    <button id="previousDetail1" onclick="previousDetail(1)" class="btn btn-outline-success"  style="display: none"> Previous Details</button>
                    <button id="previousDetail2" onclick="previousDetail(2)" class="btn btn-outline-success"  style="display: none"> Previous Details</button>
                    <button id="previousDetail3" onclick="previousDetail(3)" class="btn btn-outline-success"  style="display: none"> Previous Details</button>
                    <button id="moreDetail1" onclick="moreDetails(1)" class="btn btn-success"  style="display: none"> More Details</button>
                    <button id="moreDetail2" onclick="moreDetails(2)" class="btn btn-success"  style="display: none"> More Details</button>
                    <button id="moreDetail3" onclick="moreDetails(3)" class="btn btn-success"  style="display: none"> More Details</button>
                    <button id="previewCITReturnsReport" class="btn btn-primary" style="float: right"><span class='fa fa-file fa-lg'></span> Preview Report</button>
                </div>
            </div>
        </div>
    </div>
</div>
