<div id="estimateDetail">
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tccDetails" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="form-horizontal">
                    <div class="form-row">

                        <div class="col-md-6" id="estimateDetailsGrid6">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Entity Details</b></p>
                                <div class="table-responsive border-bottom">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Entity Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span class="entityName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span class="tin"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Assessment Year</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="assessmentYearView"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Start Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="startDateView"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">End Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="endDateView"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Nationality</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="nationality"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="estimateDetailsGrid7">
                            <div class="bordered-group" id="" style="height: 420px">
                                <p class="card-title"><b>Income Details</b></p>
                                <div class="table-responsive border-bottom">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Business Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="businessIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Employment Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="employmentIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Investment & Other</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="investmentOtherIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Total Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="totalIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Annual Chargeable</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="annualChargeableIncome"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Annual Total</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="annualTotalIncomeTaxPayable"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Quarterly Income</td>
                                                <td style="padding-left:5px;width:280px;text-align: right;">
                                                    <b><span id="quarterlyIncomeTaxPayable"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button id="backToGrid" class="btn btn-outline-primary"> Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
