<div id="directorDetailModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">Director</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bordered-group">
                                <p class="card-title"><b>Director Details</b></p>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">Full Name</td>
                                            <td style="padding-left:5px;width:280px;">
                                                <b><span class="directorFullNameModalDetails"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                            <td style="padding-left:5px;width:280px;">
                                                <b><span class="directorTINModalDetails"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">Residential Status</td>
                                            <td style="padding-left:5px;width:280px;">
                                                <b><span class="residentialStatusModalDetails"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">Salary</td>
                                            <td style="padding-left:5px;width:280px;text-align: right;">
                                                <b><span class="salaryDirectorModalDetails"></span></b>
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <td style="padding-left:5px;width:140px;font-weight:100;">Interest</td>
                                            <td style="padding-left:5px;width:280px;text-align: right;">
                                                <b><span class="interestDirectorModalDetails"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">Other Allowance</td>
                                            <td style="padding-left:5px;width:280px;text-align: right;">
                                                <b><span class="otherAllowanceDirectorModalDetails"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">Loans</td>
                                            <td style="padding-left:5px;width:280px;text-align: right;">
                                                <b><span class="loansDirectorModalDetails"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left:5px;width:120px;font-weight:100;">Total</td>
                                            <td style="padding-left:5px;width:280px;text-align: right;">
                                                <b><span class="totalDirectorModalDetails"></span></b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer", style="justify-content: flex-start;">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>