<div class="col-md-6" id="estimateDetailsGrid7">
    <div class="bordered-group" id="" style="height: 420px">
        <p class="card-title"><b>Income Details</b></p>
        <div class="table-responsive border-bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="padding-left:5px;width:120px;font-weight:100;">Annual Chargeable Income</td>
                        <td style="padding-left:5px;width:280px;text-align: right;">
                            <b><span id="estimatedAnnualChargeableIncome"></span></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;width:120px;font-weight:100;">Annual Levy Payable</td>
                        <td style="padding-left:5px;width:280px;text-align: right;">
                            <b><span id="estimatedAnnualLevyPayable"></span></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;width:120px;font-weight:100;">Income Tax Paid</td>
                        <td style="padding-left:5px;width:280px;text-align: right;">
                            <b><span id="estimatedIncomeTaxPaid"></span></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;width:120px;font-weight:100;">Quarterly Income Tax Payable</td>
                        <td style="padding-left:5px;width:280px;text-align: right;">
                            <b><span id="estimatedQuarterlyIncomeTaxPayable"></span></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;width:120px;font-weight:100;"> Estimated Quarterly Levy Payable</td>
                        <td style="padding-left:5px;width:280px;text-align: right;">
                            <b><span id="estimatedQuarterlyLevyPayable"></span></b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:5px;width:120px;font-weight:100;">Tax Rate</td>
                        <td style="padding-left:5px;width:280px;text-align: right;">
                            <b><span id="taxRate"></span></b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>