
@{
    ViewData["Title"] = "CIT Return Final Report";
}

<input id="reportPath" value="@ViewBag.ReportPath" hidden />
<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<style type="text/css">
    #reportviewer1_viewerContainer {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #reportviewer1_licensing_msgContainer {
        display: none;
    }

    #reportviewer1_viewBlockContainer {
        display: none !important;
    }

    #reportviewer1 {
        height: 77vh !important;
    }
</style>

<div class="reportContainer">
    <bold-report-viewer id="reportviewer1" report-service-url="../Reports" report-path="@ViewBag.ReportPath" report-server-url="@ViewBag.ReportServer" toolbar-settings="ViewBag.toolbarSettings" tool-bar-item-click="onToolBarItemClick" processing-mode="Remote" ajax-before-load="ajaxBeforeLoad" />
</div>

<script>
    $("#pgHeader").text("CIT Final Returns");

    var serverUrl = $("#serverUrl").val();

    $(".pb-3").contents().filter(function () {
        return this.nodeType != 1;
    }).replaceWith("");

    var parameters = [];
    parameters.push({ name: sessionStorage.getItem("uniCITTransactionLabel"), labels: [sessionStorage.getItem("uniCITTransactionId")], values: [sessionStorage.getItem("uniCITTransactionId")], nullable: "true" });

    function ajaxBeforeLoad(event) {
        event.model.parameters = parameters;
    };

    function onToolBarItemClick(args) {
        if (args.value == "E-Mail") {
            $("#addEmailRecipientModal").modal("show");
        } 
    };

</script>

<bold-script-manager></bold-script-manager>




