
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />


<div class="col-md-6">

</div>



<div class="card" style="min-height: 600px; height: 60vh;">
    <div class="card-body">
        <div class="row align-items-end" style="margin: 1px;">
            <div class="col-md-6 col-sm-12 " style="margin:0px auto;">
                <div style="height: 500px; border: 1px solid silver; position: relative;">
                    <div style="font-size: 27px;padding: 10px 0px;text-align: center;background: #112b4a;color: floralwhite;"><b>CIT Reports</b></div>
                    <form style="">
                        <div class="form-group">
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <label for="typesOfReport" class="col-form-label" style="">
                                    Type Of Report
                                </label>
                                <select type="text" id="typesOfReport" class="form-control" style=" required>
                                    <option selected="selected">Select Type</option>
                                    <option value="1">All CIT Returns</option>
                                    <option value="2">CIT Returns with Tax Outstanding</option>
                                    <option value="3">CIT Returns with Tax Over payment Outstanding balance</option>
                                    <option value="4">CIT Return with Zero Tax Outstanding balance</option>
                                </select>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <label for="listOfTaxOffices" class="col-form-label" style="">
                                    Tax Office
                                </label>
                                <select type="text" id="listOfTaxOffices" class="form-control" style="" required>
                                </select>
                            </div>
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <label for="assessmentYear" class="col-form-label" style="">
                                    Assessment Year
                                </label>
                                <select type="text" id="assessmentYear" class="form-control yearsDropdown" style="" required>
                                    <option selected="selected">Choose Year</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12" style="position: absolute; bottom: 30px;">
                        <button class="btn btn-success" id="viewRTP" style="float: right;" disabled><span class='fa fa-file fa-lg'></span> View Report</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">

    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#pgHeader").text("Company Income Tax Reports");
        });

        var reporttype = "CIT";
    </script>
    <script src="~/js/shared/reports.js"></script>
}

