
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="row">
    <div class="col-md-6" style="margin:30px auto 0px auto;">
        <div style="height: 500px; border: 2px solid silver; position: relative; background: white; border-radius: 5px;">
            <form>
                <div style="padding: 20px 0px;text-align: center">
                    <h3>CIT Reports</h3>
                    <span>Please select the appropriate fields and click the Preview Report button to view your report</span>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                    <div class="col-md-12 formField">
                        <label for="typesOfReport" class="col-form-label">
                            <b>Type Of Report</b>
                        </label>
                        <select type="text" id="typesOfReport" class="form-control" required>
                            <option selected="selected">Select Type</option>
                            <option value="1">All CIT Returns</option>
                            <option value="2">CIT Returns with Tax Outstanding</option>
                            <option value="3">CIT Returns with Tax Over payment Outstanding balance</option>
                            <option value="4">CIT Return with Zero Tax Outstanding balance</option>
                        </select>
                    </div>
                    <div class="col-md-12 formField">
                        <label for="listOfTaxOffices" class="col-form-label">
                            <b>Tax Office</b>
                        </label>
                        <select type="text" id="listOfTaxOffices" class="form-control" required>
                        </select>
                    </div>
                    <div class="col-md-12 formField">
                        <label for="assessmentYear" class="col-form-label">
                            <b>Assessment Year</b>
                        </label>
                        <select type="text" id="assessmentYear" class="form-control yearsDropdown" required>
                            <option selected="selected">Choose Year</option>
                        </select>
                    </div>
                </div>

            </form>

            <div class="col-md-12" style="position: absolute; bottom: 10px; padding-top: 10px;">
                <button class="btn btn-success" id="viewRTP" style="float: right;" disabled><span class='fa fa-file fa-lg'></span> Preview Report</button>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#pgHeader").text("Company Income Tax Reports");
        });

        var reporttype = "CIT";
    </script>
    <script src="~/js/shared/reports.js"></script>
}

