
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="card">
    <div class="card-body">
        <div class="row align-items-end" style="margin: 1px;">
            <div class="col-md-6" id="">
                <div class="bordered-group" id="" style="height: 400px">
                    <p class="card-title"><b>Personal Income Tax Reports</b></p>
                    <form>
                        <div class="form-group row" style="margin-bottom: 1rem;">
                            <div class="col-md-12 formDiv" style="margin: 0px 0px 15px 0px;">
                                <label for="typesOfReport" class="col-form-label">
                                    <b>Type Of Report</b>
                                </label>
                                <select type="text" id="typesOfReport" class="form-control" required>
                                    <option style="display: block" selected="selected">Select Type</option>
                                    <option style="display: none" id="reportsPITReturns" value="0">PIT Returns</option>
                                    <option style="display: none" id="reportPITTaxWithStanding" value="1">Tax WithStandings</option>
                                    <option style="display: none" id="reportPITTaxOverpayment" value="2">Tax OverPayment</option>
                                    <option style="display: none" id="reportPITZeroTaxOutstanding" value="3">Zero Tax Outstanding</option>
                                </select>
                            </div>
                            <div class="col-md-12 formDiv" style="margin: 0px 0px 15px 0px;">
                                <label for="taxOffice" class="col-form-label">
                                    <b>Tax Office</b>
                                </label>
                                <select type="text" id="taxOffice" class="form-control" required>

                                </select>
                            </div>
                            <div class="col-md-12 formDiv" style="margin: 0px 0px 15px 0px;">
                                <label for="assyear" class="col-form-label">
                                    <b>Assessment Year</b>
                                </label>
                                <select type="text" id="assessmentYear" class="form-control yearsDropdown" required>
                                    
                                </select>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success" style="float: right;">View Report</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#pgHeader").text("PIT Reports");
        });

      
    </script>
}

