@{
    ViewData["Title"] = "Returns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}


<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />
<input id="taxpayerId" value="@ViewBag.TaxpayerId" hidden />

<div class="card">

    <partial name="_PITGrid" />
    <partial name="_AnnualReturn" />

</div>

@section scripts {
    <script src="~/js/cit/cit.js"></script>
    <script src="~/js/cit/return.js"></script>
}

