@using ITAPS_HOST
@using ITAPS_HOST.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BoldReports.TagHelpers
@addTagHelper *, BoldReports.AspNet.Core
<a href="C:\Users\ybadmus\Documents\codes\ITAPS-HOST\ITAPS-HOST\Views\_ViewImports.cshtml">C:\Users\ybadmus\Documents\codes\ITAPS-HOST\ITAPS-HOST\Views\_ViewImports.cshtml</a>