
@{
    ViewData["Title"] = "ChangeMyPassword";
}

@section css {
    <style>
        .input-group-append {
            cursor: pointer;
        }
    </style>
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="row ">

    <div class="col-md-6">

        <div class="bordered-group" id="" style="height: 420px;background: #FFF; border:4px solid silver;">
            <br />
            <form style="width: 85%; margin: 0 auto;">
                <div class="form-group row" style="margin-bottom: 1rem;">
                    <div class="col-md-12 formDiv">
                        <label for="userEmail" class="col-form-label">
                            <b style="font-size: 16px;">Email</b>
                        </label>
                        <input type="text" class="form-control" id="userEmail" autocomplete="off" placeholder="Email" style="height: 30px !important;">
                    </div>
                    <div class="col-md-12 formDiv">
                        <label for="userEmail" class="col-form-label">
                            <b style="font-size: 16px;">Phone Number</b>
                        </label>
                        <input type="text" class="form-control" id="phoneNumber" autocomplete="off" placeholder="Email" style="height: 30px !important;">
                    </div>
                    <div class="col-md-12 formDiv">
                        <label for="oldPassword" class="col-form-label">
                            <b style="font-size: 16px;">Old Password</b>
                        </label>
                        <div class=" input-group">
                            <input type="password" class="form-control" id="oldPassword" autocomplete="off" placeholder="Old Password" style="height: 30px !important;">
                            <div class="input-group-append" id="oldpasswordicon">
                                <span class="input-group-text fa fa-eye" id="basic-addon1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 formDiv">
                        <label for="newPassword" class="col-form-label">
                            <b style="font-size: 16px;">New Password</b>
                        </label>
                        <div class=" input-group">
                            <input type="password" class="form-control" id="newPassword" autocomplete="off" placeholder="New Password" style="height: 30px !important;">
                            <div class="input-group-append" id="newpasswordicon">
                                <span class="input-group-text fa fa-eye" id="basic-addon2"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 formDiv" style="margin-bottom: 30px;">
                        <label for="confirmNewPassword" class="col-form-label">
                            <b style="font-size: 16px;">Confirm New Password</b>
                        </label>
                        <div class=" input-group">
                            <input type="password" class="form-control" id="confirmNewPassword" autocomplete="off" placeholder="Confirm New Password" style="height: 30px !important;">
                            <div class="input-group-append" id="confirmpasswordicon">
                                <span class="input-group-text fa fa-eye" id="basic-addon3"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 formDiv">
                        <button id="requestChangePassword" type="button" class="btn btn-success" style="float: right;">Change Password</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section modals{
    <partial name="_ChangeTaxOfficeModals" />
}

@section scripts {
    <script>
        $("#pgHeader").text("Change My Password");
    </script>
    <script src="~/js/codes/changepassword.js"></script>
}


