@{
    ViewData["Title"] = "Relief Setup";
}

@section css {
    <link href="~/css/codes/code.css" rel="stylesheet" />
    <style>
        th {
        background: #364C7D !important;
        }

        th .e-headertext {
        color: white;
        font-size: 14px; 
        }

        th .e-icon-filter {
        color: white !important;
        }

        .e-content:hover {
        cursor: pointer;
        }
    </style>
    <link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-grids/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-navigations/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-dropdowns/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-lists/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/ej2-splitbuttons/styles/material.css" rel="stylesheet">
    <!-- Essential JS 2 all script -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js" type="text/javascript"></script>
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <select type="text" id="listOfReliefs" class="form-control listOfReliefs" required="">
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <select type="text" id="yearsDropdown" class="form-control yearsDropdown" required="">
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="btnSearch" style="outline: none !important; box-shadow:none" class="btn btn-success btn-sm"><i class='fa fa-search'></i> Search</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-end" style="margin: 1px;">
            <div style="width: 100%;height:40px;">
                <button id="addRelief" class="btn btn-primary float-left" type="button"><i class='fa fa-plus-circle'></i> Add Relief</button>
            </div>
            <div class="GridDiv">
                <div id="Grid"></div>
            </div>
        </div>
    </div>
</div>

@section modals{
    <partial name="_CodesModal" />
}

@section scripts {
    <script src="~/js/codes/reliefsetup.js"></script>
}
