@{
    ViewData["Title"] = "Home";
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="row card-group-row">
    <div class="col-md-6">
        <a class="dash-anchor" href="#">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center" title="User Account Profile">
                <img src="~/images/icons/user.svg" class="img-responsive" width="90" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="media-heading" id="loggedInUserFUllNameTile"></h5>
                    <h6>Welcome to ITAPS HOST</h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="~/pit/index" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center pt-5" title="Personal Income tax">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="~/icons/iconx-pit.png" class="img-responsive" width="80" />
                    </div>
                    <div class="col-12">
                        <div class="flex mb-4 mt-2 dash-body banner text-center">
                            <b class="text-center mt-0 text-inverse text-center">PIT</b><br />
                            <p class="text-center text-muted text-center">Personal Income Tax</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="~/cit/index" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center pt-5" title="Personal Income tax">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="~/images/icons/iconx-cit.png" class="img-responsive" width="80" />
                    </div>
                    <div class="col-12">
                        <div class="flex mb-4 mt-2 dash-body banner text-center">
                            <b class="text-center mt-0 text-inverse text-center">CIT</b><br />
                            <p class="text-center text-muted text-center">Company Income Tax</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="~/wtht/index" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center pt-5" title="Withholding Tax & VAT">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="~/icons/iconx-hand.png" class="img-responsive" width="80" />
                    </div>
                    <div class="col-12">
                        <div class="flex mb-4 mt-2 dash-body banner text-center">
                            <b class="text-center mt-0 text-inverse text-center">WHT</b><br />
                            <p class="text-center text-muted text-center">Withholding Tax &amp; VAT</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="~/applications/options" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center pt-5" title="TCC, Tax Relief & Exemption Applications">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="~/icons/iconx-edit.png" class="img-responsive img-circle" width="80" />
                    </div>
                    <div class="col-12">
                        <div class="flex mb-4 mt-2 dash-body banner text-center">
                            <b class="text-center mt-0 text-inverse text-center">Applications</b><br />
                            <p class="text-center text-muted text-center">TCC, Tax Relief &amp; Exemption</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="~/paye/index" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center pt-5" title="PAYE Deductions">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="~/icons/iconx-payee.png" class="img-responsive img-circle" width="80" />
                    </div>
                    <div class="col-12">
                        <div class="flex mb-4 mt-2 dash-body banner text-center">
                            <b class="text-center mt-0 text-inverse text-center">PAYE</b><br />
                            <p class="text-center text-muted text-center">Pay As You Earn</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#pgHeader").text("Home");
        });
    </script>
    <script src="~/js/applications/user-rights.js"></script>
}