
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="card">
    <div class="card-body">
        <div class="row align-items-end" style="margin: 1px;">
            <div class="col-md-6" id="">
                <div class="bordered-group" id="" style="height: 400px">
                    <p class="card-title"><b>Personal Income Tax Reports</b></p>
                    <form>
                        <div class="form-group row" style="margin-bottom: 1rem;">
                            <div class="col-md-12 formDiv" style="margin: 0px 0px 15px 0px;">
                                <label for="typesOfReport" class="col-form-label">
                                    <b>Type Of Report</b>
                                </label>
                                <select type="text" id="typesOfReport" class="form-control" required>
                                    <option selected="selected">Select Type</option>
                                    <option value="1">All PIT Returns</option>
                                    <option value="2">PIT Returns with Tax Outstanding</option>
                                    <option value="3">PIT Returns with Tax Over payment Outstanding balance</option>
                                    <option value="4">PIT Return with Zero Tax Outstanding balance</option>
                                </select>
                            </div>
                            <div class="col-md-12 formDiv" style="margin: 0px 0px 15px 0px;">
                                <label for="listOfTaxOffices" class="col-form-label">
                                    <b>Tax Office</b>
                                </label>
                                <select type="text" id="listOfTaxOffices" class="form-control" required>

                                </select>
                            </div>
                            <div class="col-md-12 formDiv" style="margin: 0px 0px 15px 0px;">
                                <label for="assessmentYear" class="col-form-label">
                                    <b>Assessment Year</b>
                                </label>
                                <select type="text" id="assessmentYear" class="form-control yearsDropdown" required>
                                    <option selected="selected">Choose Assessment Type</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-success" style="float: right;" id="viewRTP" disabled>View Report</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#pgHeader").text("PIT Reports");
        });

          var reporttype = "PIT";
    </script>
    <script src="~/js/shared/reports.js"></script>
}

