body {
}

.card .card-header {
    background: #364C7D;
}


#grid .k-grid-content {
    height: 46vh !important;
}

th {
    background: #364C7D !important;
}

    th .e-headertext {
        color: white;
        font-size: 14px;
    }

    th .e-icon-filter {
        color: white !important;
    }

   
