<div id="applicantColumn" class="tabcontent">
    <div class="taxpayerMessageScroll" id="taxpayerMessageScroll" style="height: 250px; overflow-y: scroll; border-bottom: 1px solid silver; border-left: 1px solid silver;">
        <div id="chatUI">

        </div>
    </div>

    <form>
        <label for="commentToTaxpayer" class="control-label" style="font-weight: 600; padding: 2px;">Message To <span id="applicantFName"></span></label>
        <textarea type="text" rows="2" autocomplete="off" class="form-control form-cascade-control input-sm" id="commentToTaxpayer" style="resize:none;" placeholder="Type message to Applicant here"></textarea>
    </form>
</div>

<div id="internalMessagesColumn" class="tabcontent" style="display: none;">
    <div class="internalMessageScroll" id="internalMessageScroll" style="height: 250px; overflow-y: scroll; border-bottom: 1px solid silver; border-left: 1px solid silver;">
        <div style="" id="internalMessageUI">

        </div>
    </div>

    <form>
        <label for="commentToStaff" class="control-label" style="font-weight: 600; padding: 2px;">Internal Message</label>
        <textarea type="text" rows="2" autocomplete="off" class="form-control form-cascade-control input-sm" id="commentToStaff" style="resize:none;" placeholder="Type Internal messages here"></textarea>
    </form>
</div>

<div id="attachmentColumn" class="tabcontent" style="display: none;">
    <div style="margin-top: 5px;">
            <div class="row" id="">
                <div class="container">
                    <table class="table table-striped">
                        <colgroup><col style="width: 5%;"><col style="width: 65%;"><col style="width: 30%;"></colgroup>
                        <thead>
                            <tr class="" style=" background-color: #364c66 !important;">
                                <td scope="col" style="color: white;">#</td>
                                <td scope="col" style="color: white;">File Name</td>
                                <td scope="col" style="color: white;">Date</td>
                            </tr>
                        </thead>
                        <tbody id="DocumentTableId"></tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

@*<div class="col-sm-2">
        <button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>*@
