<div class="card mb-0" style="background: padding-box;">
    <div class="card-body pt-4 pl-4 pb-0">
        <div class="form-horizontal">
            <div class="form-row">
                <div class="col-md-2">
                    <span style="font-size: larger;font-weight: 600;">ID: </span><span id="appIdHeader" style="font-size: larger;font-weight: 500;"></span>
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <span style="font-size: larger;font-weight: 600;">STATUS: </span><span id="appStatusHeader" style="font-size: larger;font-weight: 500;"></span>
                </div>
                <div class="col-md-2">
                    <button id="reviseApplication" class="btn btn-success" style="float: right">Revise Application</button>
                    <button id="previewApplication" class="btn btn-primary" style="float: right; display: none;">Preview Certificate</button>
                </div>
            </div>
        </div>
    </div>
</div>