<div class="card-header" style="background: #f5f5f5 !important; border: 1px solid #ecd9d9;">
    <div class="row">
        <div class="col-md-6" style="display: inline-flex;">
            <div class="col-md-6">
                <select type="text" id="searchYear" class="form-control yearsDropdown" required><option>Period</option></select>
            </div>
            <div class="col-md-6">
                <select class="form-control" id="listOfActivePeriods" disabled></select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-5" style="float: right">
                <input id="endDate" type="text" class="form-control" placeholder="End Date" disabled />
            </div>
            <div class="col-md-5" style="float: right">
                <input id="startDate" type="text" class="form-control" placeholder="Start Date" disabled />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-md-6" style="display: inline-flex;">
            <div class="col-md-6">
                <select type="text" id="tccListOfTaxOffices" class="form-control" required></select>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" autocomplete="off" id="searchFilter" placeholder="Filter (Use * or TIN)" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-md-5" style="float: right">
                <button type="button" id="searchWHT" style="float: right;outline: none !important;box-shadow:none" class="btn btn-success btn-sm"><i class='fa fa-search'></i> Search</button>
            </div>
            <div class="col-md-5" style="float: right">
                <input type="text" class="form-control" autocomplete="off" id="taxpayerTin" placeholder="Enter Tin (Optional)" />
            </div>
        </div>
    </div>
</div>
