
@{
    ViewData["Title"] = "AllTransaction";
}

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />
<input id="UserObj" value="@ViewBag.UserId " hidden />

<div class="card">
    <div id="gridHeader">
        <partial name="_WHTHeader" />
        <div class="card-body">
            <div class="row align-items-end">
                <div class="GridDiv">
                    <div id="Grid"></div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_AllTransactionsDetail" />
</div>

@section scripts {
    <script src="~/js/wht/all-transaction.js"></script>
}
