
@{
    ViewData["Title"] = "VATReturns";
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />
<input id="UserObj" value="@ViewBag.UserId " hidden />

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<div class="card">
    <div id="gridHeader">
        <partial name="_WHTReturn" />
        <div class="card-body">
            <div class="row align-items-end">
                <div class="GridDiv">
                    <div id="Grid"></div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_VATDetail" />
    <partial name="_VATReturnsDetail" />
</div>

@section modals{

}

@section scripts {
    <script src="~/js/wht/wht-vat-returns.js"></script>
}

