<div id="crDetails">
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="taxPosition" role="tabpanel" aria-labelledby="nav-profile-tab">

                <div class="form-horizontal">
                    <div class="form-row">
                        <div class="col-sm-5">
                            <div class="bordered-group" id="" style="height: 350px">
                                <p class="card-title"><b>Application Detail - <span id="ratesCode"></span> </b></p>
                                <div class="table-responsive border-bottom">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Start Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="startDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">End Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="endDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Description</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="description"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Amount Based</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="amtBased"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Tax Free Amount</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="taxFreeAmt"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Based on Table</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="basedOnTable"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Fixed Amount Table</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="fixedAmtTable"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Default</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="default"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="bordered-group" id="" style="height: 350px">
                                <p class="card-title"><b>Tax</b></p>
                                <div class="table-responsive border-bottom" style="height: 300px;">

                                </div>
                            </div>

                        </div>
                    </div>
                    <button id="backToGrid" class="btn btn-outline-primary"> Back</button>
                    <button id="reviseApp" style="float: right; margin-left: 2px;" class="btn btn-success">  Save</button>
                    <button id="editDetails" style="float: right; margin-left: 2px;" class="btn btn-light">  Edit</button>
                    <button id="lockDetails" style="float: right; margin-left: 2px;" class="btn btn-primary">  Lock</button>
                    @*<button id="texMessages" style="float: right" class="btn btn-primary"><i class="fa fa-comments" aria-hidden="true"></i>  Messages</button>*@
                </div>

            </div>
        </div>
    </div>
</div>
