@{
    ViewData["Title"] = "CompanyRates";
}

@section css {
    <link href="~/css/codes/others.css" rel="stylesheet" />
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" id="SearchItem" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" id="BtnSearch" class="btn btn-success btn-sm"><i class='fa fa-search'></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-6">
                <button id="BtnOpenAddModal" class="btn btn-primary float-right" type="button"><i class='fa fa-plus-circle'></i> Add</button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row align-items-end" style="margin: 1px;">
            <div class="GridDiv">
                <div id="Grid"></div>
            </div>
        </div>
    </div>
</div>

@section modals{
    <partial name="_TaxRatesModal" />
}

@section scripts {
    <script src="~/js/codes/companyrates.js"></script>
}