<div id="tcc-status-update" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">ID: <span id="modalId"></span> | Status: <span id="statusNameModal"></span></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="appStatus" class="col-form-label">
                                            <b>Action - Select New Status</b>
                                        </label>
                                        <select type="text" id="appStatus" class="form-control" required>
                                            <option style="display: block" id="" value="">Select Status</option>
                                            <option style="display: none" id="acknowledgeStatus" value="0">Acknowledge</option>
                                            <option style="display: none" id="processApplication" value="1">Process Application</option>
                                            <option style="display: none" id="addTaxPosition" value="2">Add Tax Position</option>
                                            <option style="display: none" id="declineStatus" value="3">Decline</option>
                                            <option style="display: none" id="suspendStatus" value="4">Request Info</option>
                                            <option style="display: none" id="sendForApproval" value="5">Send for Approval</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="internalMessage" class="col-form-label">
                                            <b>Internal Message</b> (Required)
                                        </label>
                                        <textarea class="form-control" rows="2" id="internalMessage"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="taxpayerMessage" class=" col-form-label">
                                            <b>Message to Taxpayer</b>
                                        </label>
                                        <textarea class="form-control" rows="2" id="taxpayerMessage" style="resize: none;" value=""></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="updateAppStatus" class="btn btn-primary" disabled>Save</button>
                <button type="button" id="taxPosition"  class="btn btn-success" style="display: none" disabled>Tax Position</button>
            </div>
        </div>
    </div>
</div>
