<input id="appId" value="" hidden />
<input id="appTypeId" value="" hidden />

<input id="taxpayerName" value="" hidden />

<div id="detailsView" style="display: none">
    <partial name="_AppHeader" />
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tccDetails" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="form-horizontal">
                    <div class="form-row">
                        <div class="col-md-6" id="tccDetailsGrid">
                            <div class="bordered-group" id="" style="height: 400px">
                                <p class="card-title"><b>Application Details</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 340px;">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Date Submitted</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="dateSubmitted"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100; font-weight: bold; background: #f7f8f9;">Applicant Details</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Applicant Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantTIN"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Phone</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantPhone"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Email</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantEmail"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:120px;font-weight:100; font-weight: bold; background: #f7f8f9;">Requesting Entity Details</td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="requestEntityName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="requestingEntityTin"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Phone</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="requestingEntityPhone"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Email</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="requestingEntityEmail"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Purpose</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="purposeOfApplication"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="texDetailsGrid">
                            <div class="bordered-group" id="" style="height: 400px">
                                <div class="table-responsive border-bottom" style="height: 380px; margin: 10px 0px">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Application Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Date Submitted</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="dateSubmittedTex"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Type</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span class="applicationType"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Applicant Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Applicant Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantNameTex"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantTINTex"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Phone</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantPhoneTex"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Email</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="applicantEmailTex"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>WHT Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">WHT Type</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="whtType"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Residential Status</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="residentialStatus"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Reason</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="whtReason"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Remarks</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="whtRemarks"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="ptrDetailsGrid">
                            <div class="bordered-group" id="" style="height: 400px">
                                <div class="table-responsive border-bottom" style="overflow-y: scroll;height: 380px; margin: 10px 0px">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Application Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Date Submitted</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="dateSubmittedPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Type</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span class="applicationType"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Assessment Year</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="assessmentYearPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Start Date</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="startDatePTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">End Date</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="endDatePTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Applicant Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Applicant Name</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="applicantNamePTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Applicant Tin</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="applicantTINPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">DOB</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="dateOfBirthPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Gender</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="genderPTR"></span></b>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Mothers Maiden Name</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="mothersMaidenNamePTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Phone No</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="phoneNoPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Employer Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Employer Name</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="employerNamePTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Employer Phone</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="employerPhonePTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Employer TIN</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="employerTINPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Employer Address</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="employerAddressPTR"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Employer Email</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="employerEmailPTR"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="ptrDisabilityReliefDetailsGrid" style="display: none">
                            <div class="bordered-group" id="" style="height: 400px">
                                <div class="table-responsive border-bottom" style="overflow-y: no-display;height: 380px; margin: 10px 0px">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Applicant's Disability Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Type Of Disability</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="typeOfDisability"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Disclosure Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="disabilityDisclosureDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Disability Document</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <a class="btn btn-xs btn-block btn-outline-light">
                                                        <i class="fa fa-paperclip"></i>
                                                        View Attachment
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Issued By</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="disabilityDocIssueBy"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Issue No.</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="disabilityDocIssueNo"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Signed By</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="disabilityDocSignedBy"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="ptrMarriageReliefDetailsGrid" style="display: none">
                            <div class="bordered-group" id="" style="height: 400px">
                                <div class="table-responsive border-bottom" style="overflow-y: no-display;height: 380px; margin: 10px 0px">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Spouse Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">TIN</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="spouseTIN"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Name Of Spouse</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="nameOfGender"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Spouse Gender</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="spouseGender"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">DOB</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="spouseDateOfBirth"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Phone Number</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="spousePhone"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Email</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="certIssuingDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Marriage Registration Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Marriage Certificate</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <a class="btn btn-xs btn-block btn-outline-light">
                                                        <i class="fa fa-paperclip"></i>
                                                        View Attachment
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Registration Date</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="registrationDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Issue No.</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="certIssueNo"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Issuing Date</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="certIssuingDateMar"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Issued By</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="certIssuedBy"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Signed By</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <b><span id="certSignedBy"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" id="ptrAgedDepedentReliefDetailsGrid" style="display: none">
                            <div class="bordered-group" id="" style="height: 400px">
                                <p class="card-title"><b>List Of Aged Dependents</b></p>
                                <div class="table-responsive border-bottom" style="overflow-y: no-display;height: 380px; margin: 10px 0px">
                                    <table class="table table-bordered">
                                            <thead>
                                                <tr class="table-info">
                                                    <th scope="col" style="color: black;">Name</th>
                                                    <th scope="col" style="color: black;">DOB </th>
                                                    <th scope="col" style="color: black;">Gender</th>
                                                    <th scope="col" style="color: black;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listOfAgedDependents"></tbody>
                                        </table>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="bordered-group" id="messagesAndAttachments" style="height: 400px">
                                <p class="card-title"><b>Messages & Atachment</b></p>
                                <div id="tabsContainer" class="tab" style="width: 100% !important; display: block;">
                                    <button class="tablinks active" onclick="openDivForTab(event, 'applicantColumn')"> APPLICANT</button>
                                    <button class="tablinks" onclick="openDivForTab(event, 'internalMessagesColumn')"> INTERNAL</button>
                                    <button class="tablinks" onclick="openDivForTab(event, 'attachmentColumn')"> FILES</button>
                                </div>
                                <div>
                                    <partial name="_AppMessages" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <button id="backToGrid" class="btn btn-outline-primary"> Back</button>
                </div>
            </div>
        </div>
    </div>
</div>



