<div class="card mb-0" style="background: #304864 !important; border: 1px solid #304864; color: floralwhite;">
    <div class="card-body pt-4 pl-4 pb-0">
        <div class="form-horizontal">
            <div class="form-row">
                <div class="col-md-2">
                    <span style="font-size: larger;font-weight: 500;">ID: </span><span id="appIdHeader" style="font-size: larger;font-weight: 600;"></span>
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <span style="font-size: larger;font-weight: 500;">STATUS: </span><span id="appStatusHeader" style="font-size: larger;font-weight: 600;"></span>
                </div>
                <div class="col-md-2">
                    <button id="reviseApplication" class="btn btn-success" style="float: right; display: none;">Process Application</button>
                    <button id="previewApplication" class="btn btn-primary" style="float: right; display: none;">Preview Certificate</button>
                    <button id="assApplication" class="btn btn-info" style="float: right; display: none;">Assign Application</button>
                    <button id="reassApplication" class="btn btn-info" style="float: right; display: none;">Re-assign Application</button>
                </div>
            </div>
        </div>
    </div>
</div>