<div id="assign-update" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">ID: <span class="modalId"></span></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row" style="margin-bottom: 1rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="assignOfficer" class="col-form-label">
                                            <b>Action - Choose an Officer</b>
                                        </label>
                                        <select type="text" id="assignOfficer" class="form-control" required>
                                            <option style="display: block" id="" value="">Select Officer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-bottom: 2rem;">
                                    <div class="col-md-12 formDiv">
                                        <label for="assignNotes" class="col-form-label">
                                            <b>Notes</b> (Required)
                                        </label>
                                        <textarea class="form-control" rows="3" id="assignNotes"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" id="assignApplication" class="btn btn-primary" disabled>Assign</button>
            </div>
        </div>
    </div>
</div>

<div id="yesOrNo" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">Are you sure?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div><span style="color: darkred"><b>Caution</b>: This action cannot be revoked</span></div><br />
                <div><p>Are you sure you want to assign <b><span id="apType"></span> - <span class="modalId"></span></b> to <b><span id="selectedOfficer"></span></b> for processing?</p></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" id="yesBtn" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="dependentDetails" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">Aged Dependant Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bordered-group">
                                 <p class="card-title"><b>Aged Dependant</b></p>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">First Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentFName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Middle Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentMName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Last Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentLName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">DOB</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentDOB"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Gender</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentGender"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Marital Status</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentMStatus"></span></b>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Dependent's Birth Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Birth Certificate</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <a class="btn btn-xs btn-block btn-outline-light">
                                                        <i class="fa fa-paperclip"></i>
                                                        View Attachment
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Issued By</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentbirthCertIssueBy"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Issue Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentbirthCertIssueDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Signed By</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentbirthCertSignedBy"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="childDependentDetails" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modal-standard-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-income-title">Child Dependant Details</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bordered-group">
                                 <p class="card-title"><b>Child Dependant</b></p>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">First Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentFName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Middle Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentMName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Last Name</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentLName"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">DOB</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentDOB"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Gender</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentGender"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Marital Status</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentMStatus"></span></b>
                                                </td>
                                            </tr>
                                             <tr>
                                                <td colspan="2" style="padding-left:5px;width:140px;font-weight:100;background: #f7f8f9;"><b>Dependent's Birth Details</b></td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:140px;font-weight:100;">Birth Certificate</td>
                                                <td style="padding-left:5px;width:260px;">
                                                    <a class="btn btn-xs btn-block btn-outline-light">
                                                        <i class="fa fa-paperclip"></i>
                                                        View Attachment
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Issued By</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentbirthCertIssueBy"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Issue Date</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentbirthCertIssueDate"></span></b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-left:5px;width:120px;font-weight:100;">Signed By</td>
                                                <td style="padding-left:5px;width:280px;">
                                                    <b><span id="agedDependentbirthCertSignedBy"></span></b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>