
@{
    ViewData["Title"] = "TCC Tabs";
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="row card-group-row">

    <div class="col-md-3 col-sm-6" id="approvedApplications">
        <a href="~/applications/approved" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/images/icons/verified.gif" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">All Approved Applications</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="approvedApplications">
        <a href="~/applications/applicantapplications" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/icons/resume.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">All Applicant Applications</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="assignBulk" style="display: none;">
        <a href="~/applications/bulkassignment" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/icons/iconx-appls.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Assign Applications in Bulk</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="assignTCC" style="display: none;">
        <a href="~/applications/assign" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/icons/iconx-add.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Assign Application</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="bulkreassign" style="display: none;">
        <a href="~/applications/bulkreassign" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/icons/iconx-vatwh.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Re - assign Applications in Bulk</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="reassign" style="display: none;">
        <a href="~/applications/reassign" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/icons/iconx-edit.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Re - assign Application</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="processTCC" style="display: none;">
        <a href="~/applications/mytask" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/icons/icon-revise.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Process Application</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="approveTCC" style="display: none;">
        <a href="~/approval/index" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center">
                <img src="~/images/icons/verified2.gif" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Approve Application</h5>
                </div>
            </div>
        </a>
    </div>

</div>

@section scripts {
    <script>
        $("#pgHeader").text("Applications");
    </script>
    <script src="~/js/applications/user-rights.js"></script>
}

