
@{
    ViewData["Title"] = "TaxPosition";
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />
<input id="taxpayerId" value="@ViewBag.TaxpayerId" hidden />
<input id="appId" value="@ViewBag.AppId" hidden />

<div id="taxPositionView">
    <div class="card">

        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="taxPosition" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="form-horizontal">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="bordered-group" id="">
                                    <p class="card-title"><b>Add Tax Position</b></p>
                                    <div class="table-responsive border-bottom">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr class="table-info">
                                                    <th scope="col" style="color: black;">Year</th>
                                                    <th scope="col" style="color: black;">Status </th>
                                                    <th scope="col" style="color: black;">Chargeable Income</th>
                                                    <th scope="col" style="color: black;">Tax Charged</th>
                                                    <th scope="col" style="color: black;">Tax Paid</th>
                                                    <th scope="col" style="color: black;">Tax Outstanding</th>
                                                </tr>
                                            </thead>
                                            <tbody id="TaxPositionSummaryGrid"></tbody>
                                        </table>
                                    </div>

                                    <div class="row" style="margin: 15px 0px 15px 0px; font-size: 16px;">
                                        <div class="checkbox col-sm-12">
                                            <label class="row ml-3 mb-3 checkgroup">
                                                I confirm from the Information available that <b>&nbsp;@ViewBag.ApplicantName&nbsp;</b> has paid all Tax liabilites up to and including the&nbsp;<span id="previousYear"></span>&nbsp;year of assessment.
                                                <input type="checkbox" id="confirmationBox" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkbox col-sm-12">
                                            <label class="row ml-3 mb-3 checkgroup">
                                                Has paid P.A.Y.E and other Witholding Taxes up to and including&nbsp; <span id="currentMonthYear"></span>.
                                                <input type="checkbox" id="confirmationBoxPaye" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkbox col-sm-12">
                                            <label class="row ml-3 mb-3 checkgroup">
                                                Has submitted all Tax returns up to date.
                                                <input type="checkbox" id="confirmationBoxAll" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="checkbox col-sm-12">
                                            <label class="row ml-3 mb-3 checkgroup">
                                                Has registered with Ghana Revenue Authority.
                                                <input type="checkbox" id="confirmationBoxGRA" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="saveTaxPositionSummary" style="float: right" class="btn btn-success" disabled>  Save Tax Position</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/applications/taxposition.js"></script>
}
