
@{
    ViewData["Title"] = "TCC";
}

@section css {
    <link href="~/css/applications/tcc.css" rel="stylesheet" />
}

<!--Defined this on page level because of control-->
<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />
<input id="taxpayerId" value="@ViewBag.TaxpayerId" hidden />

<div class="card">
    <div id="tccGridView">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3" id="">
                    <select type="text" id="tccListOfTaxOffices" class="form-control" required></select>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchItem" autocomplete="off" placeholder="Search (Use *, applicant or entity name)">
                        <div class="input-group-append">
                            <button type="button" id="btnSearch" class="btn btn-success btn-sm"><i class='fa fa-search'></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-end" style="margin: 1px;">
                <div class="GridDiv">
                    <div id="Grid"></div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_AppDetails" />

</div>


@section modals{
    <partial name="_AppUpdate" />
}

@section scripts {
    <script src="~/js/applications/tcc.js"></script>
    <script src="~/js/applications/tccdetails.js"></script>
    <script src="~/js/applications/tccupdater.js"></script>
}