
@{
    ViewData["Title"] = "TCC Tabs";
}

<input id="serverUrl" value="@ViewBag.ServerUrl" hidden />

<div class="row card-group-row">
    <div class="col-md-3 col-sm-6" id="allTCC">
        <a href="~/applications/tccdashboard" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center" title="Click to apply for Tax Clearance Certificate (TCC)">
                <img src="~/icons/iconx-vatwh.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">View All Applications</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="assignTCC">
        <a href="~/applications/tccassign" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center" title="Click to apply for Tax Clearance Certificate (TCC)">
                <img src="~/icons/iconx-add.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Assign Application</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="processTCC">
        <a href="~/applications/tcc" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center" title="Click to apply for Personal Tax Relief (PTR)">
                <img src="~/icons/icon-revise.png" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Process Application</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 col-sm-6" id="approveTCC">
        <a href="~/approval/tccapproval" class="dash-anchor">
            <div class="card card-group-row__card card-body card-body-x-lg flex-row align-items-center" title="Click to apply for Personal Tax Relief (PTR)">
                <img src="~/images/icons/verified2.gif" class="img-responsive" width="80" />
                <div class="flex mb-4 mt-4 dash-body">
                    <h5 class="text-stats text-muted">Approve Application</h5>
                </div>
            </div>
        </a>
    </div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#pgHeader").text("Applications");

            if ($("#UserFullName").text().toLowerCase() === "ybadmus") {
                $("#approveTCC").show();
                $("#processTCC").hide();
                $("#assignTCC").hide();
                $("#allTCC").show();
            } else if ($("#UserFullName").text().toLowerCase() === "officer") {
                $("#approveTCC").hide();
                $("#processTCC").show();
                $("#assignTCC").hide();
                $("#allTCC").show();
            } else if ($("#UserFullName").text().toLowerCase() === "aansah") {
                $("#approveTCC").hide();
                $("#processTCC").hide();
                $("#assignTCC").show();
                $("#allTCC").show();
            }
        });
    </script>
}


